
a {
    color: inherit;
    text-decoration: none;
    position: relative;
    font-weight: 700;
    transition: color 0.3s ease;
    cursor: pointer;
}
a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -4px;
    left: 50%;
    background-color: #ffffff;

    transition: all 0.3s ease-in-out;
    transform: translateX(-50%);
}


a:hover {
    color: #000000;

}

a:hover::after {
    width: 100%;
  
}

a:active {
    transform: scale(0.95);
    display: inline-block;
  
}